/*both pages*/

#navbarNav {
  font-family: 'Manrope', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  size: 15px;
  font-weight: lighter;
  letter-spacing: 2px;
}

.navbar {
  position: fixed;
  background-color: white;
  padding: 0px 70px 0px 70px;
  margin-bottom: 100px;
}

#navbarNav {
  text-align: right;
}

.container {
  margin-bottom: 100px;
}

footer {
  padding-bottom: 0px;
  margin-bottom: 0px !important;
}

h1 {
  font-family: 'Manrope', sans-serif;
  text-transform: uppercase;
  size: 50px;
  font-weight: 600;
  letter-spacing: 5px;
}

.button {
  background-color: #ffbf3c;
  border-radius: 18px;
  padding: 5px 45px;
  font-family: 'Manrope', sans-serif;
  text-transform: uppercase;
  color: #ffff;
  size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
  text-decoration: none;
}





/*index*/

.p1 {
  font-family: 'Manrope', sans-serif;
  text-transform: uppercase;
  size: 30px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 20px;
}

.p2 {
  font-family: 'Manrope', sans-serif;
  text-transform: uppercase;
  size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 20px;
}

.p3 {
  font-family: 'Manrope', sans-serif;
  text-transform: uppercase;
  size: 20px;
  font-weight: normal;
  letter-spacing: 2px;
  line-height: 20px;
}

.video-container {
  margin-bottom: 100px;
  filter: brightness(75%);
  position: relative;
  text-align: center;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  letter-spacing: 5px;
  color: white;
}

#carouselExampleInterval {
  margin-top: 50px;
  margin-bottom: 70px;
}

.title {
  padding-top: 150px;
  padding-bottom: 25px;
}

.body {
  padding-bottom: 50px;
}

#pastor {
  float: right;
}

.responsive {
  width: 98%;
  height: auto;
}

video {
  width: 100% !important;
  height: auto !important;
}

.video-responsive {
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
margin-top: 50px;
margin-bottom: 70px;
}
.video-responsive iframe{
left:0;
top:0;
height:100%;
width: 100%;
position:absolute;
}

iframe{
    border-width: 0px;
}





/*upcoming events page*/

.p4 {
  font-family: 'Manrope', sans-serif;
  text-transform: uppercase;
  size: 40px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 20px;
}

.p5 {
  font-family: 'Manrope', sans-serif;
  text-transform: uppercase;
  size: 40px;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 20px;
}

#upcoming {
  width: 100%;
  height: 200px;
  color: white;
  background-color: black;
  padding: 25px 40px;
}

.events {
  width: 100%;
  height: 100%;
}

.info {
  padding-top: 50px;
}

.col-sm-8 {
  padding-top: 60px;
}

#more {
  margin-top: 100px;
  text-align: center;
}

.button2 {
  padding-top: 20px;
}
