.video-containter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%
  height: 100%;
}

.text {
  position: absolute;
  width: 1000px;
  height: 55px;
  left: 400px;
  top: 400px;
  font-family: 'Manrope';
  font-style: normal;
  color: white;
  font-weight: 400;
  font-size: 20px;
  line-height: 55px;
  /* identical to box height */
  letter-spacing: 0.25em;
  text-transform: uppercase;
}
